<div data-controller="chat hotkey" class="h-full">
  <%= turbo_frame_tag chat_frame, class: "h-full flex flex-col" do %>
    <%= turbo_stream_from @chat %>

    <h1 class="sr-only"><%= @chat.title %></h1>

    <div class="flex flex-col h-full">
      <div class="md:p-4">
        <%= render "chats/chat_nav", chat: @chat %>

        <% if show_demo_warning? %>
          <%= render "shared/demo_warning",
            title: t("chats.demo_banner_title"),
            message: t("chats.demo_banner_message") %>
        <% end %>
      </div>

      <div
        id="messages"
        class="flex-1 overflow-y-auto px-4 pt-2 pb-28 lg:pb-6 space-y-6"
        data-chat-target="messages">
        <% if @chat.conversation_messages.any? %>
          <% @chat.conversation_messages.ordered.each do |message| %>
            <%= render message %>
          <% end %>
        <% else %>
          <div class="mt-auto">
            <%= render "chats/ai_greeting", context: "chat" %>
          </div>
        <% end %>

        <% if params[:thinking].present? %>
          <%= render "chats/thinking_indicator", chat: @chat %>
        <% end %>

        <% if @chat.error.present? && @chat.needs_assistant_response? %>
          <%= render "chats/error", chat: @chat %>
        <% end %>
      </div>

      <%# Chat form - mobile sticky with safe-area padding, desktop inline %>
      <div class="sticky lg:static bottom-0 left-0 w-full bg-surface/95 lg:bg-transparent backdrop-blur-lg lg:backdrop-blur-0 border-t border-alpha-black-10 lg:border-0 p-4 pt-2 lg:p-0 pb-[calc(env(safe-area-inset-bottom,0px)+14px)]">
        <%= render "messages/chat_form", chat: @chat %>
      </div>
    </div>
  <% end %>
</div>
